<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palo Verde Ward SMS Scheduler</title>
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
          rel="stylesheet"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script>
        $(function() {
          $('.selectpicker').selectpicker();
        });


        $(document).ready(function(){
          $("#groupSearch").on("keypress click input", function () {
              var val = $(this).val();
              if(val.length) {
                  $(".accordion .card.group-body").hide().filter(function () {
                      return $('.group-head', this).text().toLowerCase().indexOf(val.toLowerCase()) > -1;
                  }).show();
              }
              else {
                  $(".accordion .card.group-body").show();
              }
          });
        });

        function submitGroup() {
            document.getElementById('groupForm').submit();
        }

        function submitPerson() {
            document.getElementById('personForm').submit();
        }
    </script>
</head>

<body>
<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
</div>

<div style="text-align: center;">
    <h1>{{ title }} <button class="btn btn-warning" onclick="location.href='/settings'">Settings</button></h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-3" id="calendar">
        <div class="card" id="upcomingEvents">
            <h5 class="card-header">
                Calendar
            </h5>
            <div class="card-body">
                <div class="col" style="max-height: 75vh;overflow-y: auto;">
                    {% if dates is defined and dates is not none and dates|length > 0 %}
                    {% for date in dates %}
                    <div class="accordion" id="date-{{date}}">
                        <div class="card">
                            <div class="card-header" id="date-{{date}}-heading">
                                <h2 class="mb-0">
                                    <button aria-controls="date-{{date}}-body" aria-expanded="true"
                                            class="btn btn-link btn-block text-left"
                                            data-target="#date-{{date}}-body" data-toggle="collapse"
                                            type="button">
                                        {{date}} {{dates[date]|length}} event(s)
                                    </button>
                                </h2>
                            </div>
                            <div aria-labelledby="date-{{date}}-heading" class="collapse"
                                 data-bs-parent="#date-{{date}}" id="date-{{date}}-body">
                                <div class="card-body">
                                    <div class="accordion" id="date-{{date}}-events">
                                        {% for event in dates[date] %}
                                        <div class="card">
                                            <div class="card-header" id="event-{{event.id}}">
                                                <h2 class="mb-0">
                                                    <button aria-controls="event-{{event.id}}-body" aria-expanded="true"
                                                            class="btn btn-link btn-block text-left"
                                                            data-target="#event-{{event.id}}-body" data-toggle="collapse"
                                                            type="button">
                                                        {{event.name}}
                                                    </button>
                                                </h2>
                                            </div>
                                            <div aria-labelledby="event-{{event.id}}" class="collapse"
                                                 data-parent="#date-{{date}}-events" id="event-{{event.id}}-body">
                                                <div class="card-body">
                                                    <strong>When: </strong><strong>{{event.start}} to {{event.end}} AZ time</strong>
                                                    <hr>
                                                    <strong>Where: </strong><strong>{{event.location}}</strong>
                                                    <hr>
                                                    <strong>Invitees: </strong><strong>{{event.invited}}</strong>
                                                    <hr>
                                                    <strong>Notification Times: </strong><strong>{{event.notifyTimes}}</strong>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                    {% else %}
                    <strong>No events found</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="people">
        <div class="card" id="userGroups">
            <h5 class="card-header">
                People and groups
                <br>
                <input type="text" id="groupSearch" class="form-control" placeholder="Search for a person or group here">
            </h5>
            <div class="card-body">
                <div class="col" style="max-height: 66vh;overflow-y: auto;">
                    {% if groups is defined and groups is not none and groups|length > 0 %}
                    {% for group in groups %}
                    <div class="accordion" id="{{group.replace(' ', '_')}}">
                        <div class="card group-body">
                            <h2 class="card-header" id="{{group.replace(' ', '_')}}-heading">
                                <button aria-controls="{{group.replace(' ', '_')}}-body" aria-expanded="true"
                                        class="btn btn-link btn-block text-left group-head"
                                        data-target="#{{group.replace(' ', '_')}}-body" data-toggle="collapse"
                                        type="button">
                                    {{group}}
                                </button>
                            </h2>
                            <div aria-labelledby="{{group.replace(' ', '_')}}-heading" class="collapse"
                                 data-parent="#{{group.replace(' ', '_')}}" id="{{group.replace(' ', '_')}}-body">
                                <div class="accordion-body">
                                    {% for member in groups[group] %}
                                    <strong>{{member.name}}: </strong><strong>{{member.phone}}</strong>
                                    <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                    {% else %}
                    <strong>No people found</strong>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                <button type="button" data-toggle="modal" data-target="#addUserModal" class="btn btn-primary">Add Person</button>
                <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="userModalLabel">Add a person</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="post" id="personForm">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" value="addPerson" name="formType">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="personName" id="personName">
                            <br>
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" name="phone" id="phone">
                            <br>
                            <label for="groups">Add to groups:</label>
                            {% if groupsList is defined and groupsList is not none and groupsList|length > 0 %}
                            <select class="selectpicker form-control" data-live-search-normalize="true" data-live-search="true" id="groups" multiple name="groups">
                                {% for group in groupsList %}
                                <option data-tokens={{group}}>{{ group }}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <strong>No people found</strong>
                            {% endif %}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="submitPerson()" class="btn btn-primary">Add Person</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" data-toggle="modal" data-target="#groupModal" class="btn btn-primary">Create a Group</button>
                <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="groupModalLabel">Create a Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="post" id="groupForm">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" value="createGroup" name="formType">
                            <label for="name">Group Name</label>
                            <input type="text" class="form-control" name="name" id="name">
                            <br>
                            <label for="members">Group Members</label>
                            {% if groups is defined and groups is not none and groups|length > 0 %}
                            <select class="selectpicker form-control" data-live-search-normalize="true" data-live-search="true" id="members" multiple name="members">
                                {% for group in groups %}
                                <option data-tokens={{group}}>{{ group }}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <strong>No people found</strong>
                            {% endif %}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="submitGroup()" class="btn btn-primary">Create Group</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="eventMaker">
        <div class="card" id="newEvent">
            <h5 class="card-header">
                Add a new event
            </h5>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" value="addEvent" name="formType">
                    <label for="name">Event name</label>
                    <input class="form-control form-control-sm" id="name" name="name" placeholder="Ex. Guest speaker"
                           type="text">
                    <!--<label for="eventDesc">Event Description</label>
                    <input class="form-control form-control-sm" id="eventDesc" name="eventDesc" placeholder="Ex. Brother Johnson will speak about taxes"
                           type="text">-->
                    <label for="date">Date</label>
                    <input class="form-control form-control-sm" id="date" name="date" type="date">
                    <label for="start">Start Time</label>
                    <input class="form-control form-control-sm" id="start" name="start" placeholder="Ex. 7 PM"
                           type="time">
                    <label for="end">End Time</label>
                    <input class="form-control form-control-sm" id="end" name="end" placeholder="Ex. 8:30 PM"
                           type="time">
                    <label for="location">Location</label>
                    <input class="form-control form-control-sm" id="location" name="location" placeholder="Ex. the stakecenter"
                           type="text">
                    <label for="invited">Who</label>
                    <br>
                    {% if groups is defined and groups is not none and groups|length > 0 %}
                    <select class="selectpicker" data-live-search="true" id="invited" multiple name="invited">
                        {% for group in groups %}
                        <option data-tokens={{group}}>{{ group }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {% else %}
                    <strong>No people found</strong>
                    {% endif %}
                    <small class="text-muted form-text">Select groups or people that are invited</small>
                    <label for="notifyTimes">How many days out to notify</label>
                    <select class="selectpicker" id="notifyTimes" multiple name="notifyTimes">
                        {% for time in notifyTimes %}
                        <option data-tokens={{time}}>{{ time }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <small class="text-muted form-text">Can select multiple, 0 = morning of event</small>
                    <button class="btn btn-success" type="submit">Add Event</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>